* {
  box-sizing: border-box;
}

body {
  background-color: beige;
}
h1 {
  text-align: center;
  color: chocolate;
}
p {
  color: red;
  text-align: center;
  color: red;
  text-transform: uppercase;
}

input {
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}